* {
    font-family: arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-color: red;
}
  
body {
    font-size: 28px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
