* {
    font-family: arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: red;
}
  
body {
    font-size: 30px;
    color: blue;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
